.header {
  background-color: rgb(246, 246, 246, 0.5);
  backdrop-filter: blur(8px);
  max-width: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}
.navcontainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1500px;
  padding: 12px 4.5rem;
}
.navcontainer__logo {
  width: 100%;
  max-width: 71.59px;
  text-align: center;
  cursor: pointer;
}

.navcontainer__code p {
  font-weight: 500;
  font-size: 1.1rem;
  cursor: pointer;
}

.navcontainer__code__links {
  margin-right: 10px;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.navcontainer__code__links:last-child {
  margin-right: 0;
}
.navcontainer__code__links:hover {
  border-bottom: 1px solid #000;
}

.navcontainer__projects__link {
  color: #000;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0;
  transition: all 0.3s ease;
}

.nav__item p {
  font-weight: 500;
  margin: 0;
  padding: 0.4rem 0;
  transition: all 200ms ease-out;
}

.nav__item {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: all 200ms ease-out;
}

.nav__item p:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav__item p:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media screen and (max-width: 991px) {
  .navcontainer {
    padding: 12px 2rem;
  }
  .navcontainer__logo {
    width: initial;
  }
}
@media screen and (max-width: 600px) {
  .navcontainer__projects__link {
    display: none;
  }
  .navcontainer__logo {
    width: initial;
  }
}
