.aboutContainer {
  max-width: 650px;
  width: 100%;
  margin: auto;
  margin: 0rem auto 8rem auto;
  padding: 0 2rem;
  animation: fadein 2s;
}

.aboutContainer__imageContainer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 36px 0;
  overflow: unset;
}

.aboutContainer__imageContainer__image1 {
  border-radius: 12px;
  top: 20px !important;
  left: 20px !important;
  transform: rotate(-8deg) !important;
  overflow: unset !important;
}
.aboutContainer__imageContainer__image2 {
  border-radius: 12px;
}
.aboutContainer__imageContainer__image3 {
  border-radius: 12px;
  top: 44px !important;
  left: -68px !important;
  transform: rotate(8deg) !important;
}
.aboutContainer__p {
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 1rem;
  line-height: 160%;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* About 2 */
.massiveAboutContainer1 {
  max-width: 1500px;
  width: 100%;
  flex-direction: column;
  padding: 12px 4.5rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  animation: fadein 2s;
}

.aboutContainer1 {
  /* margin-top: 5rem; */
  height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 3rem;
  /* flex-wrap: wrap; */
}

.aboutContainer1__title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.moreAbout {
  margin: 5rem 0;
}

@media screen and (max-width: 990px) {
  .massiveAboutContainer1 {
    padding: 0 1.5rem;
  }
}

@media screen and (max-width: 770px) {
  .aboutContainer1 {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
  }

  .about2__image {
    width: 60%;
  }
}
