.main {
  margin: auto;
  max-width: 1200px;
}

.intro {
  height: 80vh;
  max-width: 1200px;
  text-align: center;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: fadein 2s;
}

.intro__h1 {
  font-size: 5.5em;
  font-weight: 300;
  margin: 0;
}
.intro__h3 {
  font-size: 1.4em;
  font-weight: 500;
  margin: 0;
}

.intro__h1 b {
  font-weight: 600;
  transition: all 0.3s ease;
}

.intro__h1 b:hover {
  text-decoration: none;
  background-color: #dfe4e7;
  padding: 0 0.6rem;
  cursor: pointer;
  border-radius: 24px;
  color: #000;
}

.intro__line__through {
  text-decoration: line-through;
  font-weight: 600;
  transition: all 0.5s ease;
}

.intro__line__through:hover {
  text-decoration: none;
  background-color: #dfe4e7;
  padding: 0 1rem;
  cursor: pointer;
  border-radius: 24px;
  color: #000;
}

.intro__button__resume {
  background-color: #000;
  color: #fff;
  padding: 0.8rem;
  max-width: 150px;
  width: 100%;
  text-align: center;
  border-radius: 12px;
  font-size: 14px;
  margin-top: 2rem;
  border: 1px solid #000;
  -webkit-transition: all 200ms ease-out;
  transition: all 0.2s ease-out;
}

.intro__button__resume:hover {
  color: #000;
  background-color: #dfe4e7;
}

.projectsSection {
  padding: 0 2rem;
}

.projectsSection__container__details__button {
  display: flex;
  max-width: 500px;
  width: 85%;
  margin-top: 1rem;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: 2px solid #d0d4d8;
  background-color: #d0d4d8;
  color: #323235;
  margin: auto;
  cursor: pointer;
  gap: 1rem;
  margin-bottom: 5rem;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.projectsSection__container__details__button:hover {
  background-color: #f6f6f6;
}

.projectsSection__container__details__button_text {
  font-size: 16px;
  font-weight: 400;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 674px) {
  .projectsSection {
    padding: 0;
  }
}
@media (max-width: 600px) {
  .intro__h1 {
    font-size: 4.5em;
  }
}

@media (max-width: 370px) {
  .intro__h1 {
    font-size: 3.5em;
  }
}
