.main {
  margin: auto;
  max-width: 1200px;
}

.intro {
  height: 80vh;
  max-width: 1200px;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  animation: fadein 2s;
}

.intro__h1 {
  font-size: 5.5em;
  font-weight: 300;
  margin: 0;
}
.intro__h3 {
  font-size: 1.4em;
  font-weight: 500;
  margin: 0;
}

.intro__line__through {
  text-decoration: line-through;
}

.projectsSection {
  /* margin: 150px 0; */
  padding: 0 2rem;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 674px) {
  .projectsSection {
    padding: 0;
  }
}
@media (max-width: 600px) {
  .intro__h1 {
    font-size: 4.5em;
  }
}

@media (max-width: 370px) {
  .intro__h1 {
    font-size: 3.5em;
  }
}
