.main {
  padding: 0 4.5rem;
  max-width: 1500px;
  margin: 0 auto;
}

.hero {
  height: 105vh;
  display: flex;
  flex-direction: column;
  animation: fadein 2s;
  justify-content: center;
  gap: 2rem;
}
.hero__intro {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 1rem;
  animation: fadein 2s;
}

.hero__intro__h1 {
  font-size: 7.75rem;
  font-weight: 600;
  letter-spacing: -5px;
  margin: 0;
  display: inline-block;
  position: relative;
  transition: all 200ms ease-out;
  cursor: pointer;
}

.hero__intro__h1:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hero__intro__h1:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hero__intro__image {
  padding: 7rem;
  background-color: #000;
}
.hero__intro__dev__h1 {
  font-size: 7.75rem;
  font-weight: 600;
  letter-spacing: -5px;
  margin: 0;
  text-align: end;
  transition: all 200ms ease-out;
}

.hero__intro__h3 {
  font-size: 1.4em;
  font-weight: 500;
  margin: 0;
}

.hero__intro__dev {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-wrap: wrap-reverse; */
  gap: 1rem;
  animation: fadein 2s;
}

.hero__intro__dev__imageContainer {
  width: 100%;
  max-width: 70px;
  max-height: 70px;
  animation: upDown 1.5s infinite;
}

.hero__intro__line__through:hover {
  text-decoration: none;
  background-color: #dfe4e7;
  padding: 0 1rem;
  cursor: pointer;
  border-radius: 24px;
  color: #000;
}

.hero__intro__button__resume {
  background-color: #000;
  color: #fff;
  padding: 0.8rem;
  max-width: 150px;
  width: 100%;
  text-align: center;
  border-radius: 12px;
  font-size: 14px;
  border: 1px solid #000;
  -webkit-transition: all 200ms ease-out;
  transition: all 0.2s ease-out;
}

.hero__intro__button__resume:hover {
  color: #000;
  background-color: #dfe4e7;
}

.projectsSection {
  margin-top: 4rem;
}
.projectsSection__title {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
  animation: fadein 2s;
  margin-bottom: 3rem;
  transition: all 200ms ease-out;
}

.custom__button {
  display: flex;
  /* max-width: 500px; */
  width: 100%;
  margin-top: 1rem;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: 2px solid #d0d4d8;
  background-color: #d0d4d8;
  color: #323235;
  margin: auto;
  cursor: pointer;
  gap: 1rem;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.final_button {
  margin-bottom: 5rem;
  transition: all 200ms ease-out;
}

.custom__button:hover {
  background-color: #f6f6f6;
}

.custom__button_text {
  font-size: 16px;
  font-weight: 400;
}

.projectsSection__container__details__button {
  display: flex;
  margin-top: 1rem;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: 2px solid #222831;
  background-color: #222831;
  color: #fff;
  gap: 1rem;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.projectsSection__container__details__button:hover {
  background-color: #3a4553;
  cursor: pointer;
}

.projectsSection__container__details__button_text {
  font-size: 16px;
  font-weight: 400;
}

.aboutMe {
  margin-top: 4rem;
  margin-bottom: 14rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.aboutMe__title {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
  margin-top: 4rem;
  transition: all 200ms ease-out;
}

.aboutMe__h1 {
  font-size: 7.75rem;
  font-weight: 600;
  margin: 0;
  transition: all 200ms ease-out;
}

.aboutMe__hobbies__details {
  max-width: 400px;
}

.aboutMe__hobbies__details__text {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0;
  transition: all 200ms ease-out;
}

.aboutMe__hobbies__details__link {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 2rem 0 0 0;
  width: max-content;
  transition: all 200ms ease-out;
}

.aboutMe__hobbies__details__line {
  display: inline-block;
  position: relative;
  padding-bottom: 0.8rem;
  cursor: pointer;
}
.aboutMe__hobbies__details__line:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.aboutMe__hobbies__details__line:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes upDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

@media screen and (max-width: 990px) {
  .main {
    padding: 0 1.5rem;
  }
  .aboutMe {
    flex-wrap: wrap;
    justify-content: initial;
  }
  .aboutMe__hobbies__details {
    max-width: 80%;
  }
}

@media (max-width: 674px) {
  .projectsSection {
    padding: 0;
  }
  .hero__intro__h1 {
    font-size: 3rem;
    letter-spacing: -2px;
  }
  .hero__intro__dev__h1 {
    font-size: 3rem;
    letter-spacing: -2px;
  }
  .aboutMe__hobbies__details {
    max-width: 100%;
  }
  .aboutMe__h1 {
    font-size: 5.5rem;
  }
  .projectsSection__container__details__button {
    padding: 12px 16px;
  }
}

@media (max-width: 400px) {
  .hero__intro {
    flex-wrap: wrap;
  }
  .hero__intro__button__resume {
    font-size: 12px;
    max-width: none;
  }
  .hero__intro__h1 {
    font-size: 3.5rem;
  }
  .hero__intro__dev__h1 {
    font-size: 3.5rem;
  }
  .hero__intro__dev__imageContainer {
    max-width: 60px;
    max-height: 60px;
  }
  .aboutMe {
    gap: 2rem;
  }
  .aboutMe__hobbies__details__text {
    font-size: 1.25rem;
  }
  .aboutMe__h1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 320px) {
  .hero__intro {
    flex-wrap: wrap;
  }
  .hero__intro__button__resume {
    font-size: 12px;
    max-width: none;
  }
  .hero__intro__h1 {
    font-size: 2.5rem;
  }
  .hero__intro__dev__h1 {
    font-size: 2.5rem;
  }
  .hero__intro__dev__imageContainer {
    max-width: 60px;
    max-height: 60px;
  }
  .aboutMe__h1 {
    font-size: 3rem;
  }
  .aboutMe__hobbies__details__text {
    font-size: 1.1rem;
  }
  .aboutMe__hobbies__details__link {
    font-size: 1.1rem;
  }
}
